<p *ngIf="showSuccessAlert">
  <ngb-alert type="success" (closed)="closeAlert()">{{ goods ? 'Goods updated' : 'New Goods Added Successfully' }}</ngb-alert>
</p>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" [class.is-invalid]="form.get('title').invalid && form.get('title').touched"  [formControl]="form.get('title')">
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <input type="text" class="form-control" [class.is-invalid]="form.get('description').invalid && form.get('description').touched"  [formControl]="form.get('description')">
  </div>
  <div class="form-group">
    <label for="price">Price</label>
    <input type="text" class="form-control" [class.is-invalid]="form.get('price').invalid && form.get('price').touched"  [formControl]="form.get('price')">
  </div>
  <div class="form-group">
    <label for="in_stock">In Stock</label>
    <input type="checkbox" [formControl]="form.get('in_stock')">
  </div>
  <div class="form-group">
    <label for="sale">Sale</label>
    <input type="text" class="form-control" [class.is-invalid]="form.get('sale').invalid && form.get('sale').touched"  [formControl]="form.get('sale')">
  </div>
  <div class="text-center m-5">
    <button [disabled]="form.invalid" class="btn btn-primary">{{goods ? 'Update' : 'Save'}}</button>
  </div>
</form>